@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hello World</h1>

<a asp-page="/TicTacToe">Play Tic-Tac-Toe</a>
<br />
<a asp-page="/ServerTicTacToe">Play Tic-Tac-Toe Server Style</a>
<br />
<a asp-page="/Checkers">Play Checkers</a>